<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>ヘッダー表示部分</div>

<div>
	<form th:action="@{/recipes/new/register}" method="post"  enctype="multipart/form-data" th:object="${recipeRegisterForm}">
		<p>レシピ名<br>
		<input type="text" placeholder="レシピ名を入力" th:field="*{name}"></p>
		<div class="tag_area">
		    <p>タグ
				<input type="text" th:field="*{tags}">
				<input type="text" th:field="*{tags}">
			</p>
		</div>
		<p>レシピ画像<br>
		<input type="file" th:field="*{image}" accept="image/jpeg,image/png"></p>
		<p>説明<br>
		<input type="text" th:field="*{explan}"></p>
		<p>コツやポイント<br>
		<input type="text" th:field="*{point}"></p>
		
		<div class="material_area">
			<p>材料</p>
			<div class="material">
				<input type="text" th:field="*{materials}" placeholder="材料名">
				<input type="text" th:field="*{amounts}" placeholder="数量">
				<button>削除ボタン</button><br>
				<input type="text" th:field="*{materials}" placeholder="材料名">
				<input type="text" th:field="*{amounts}" placeholder="数量">
				<button>削除ボタン</button>
			</div>
		</div>
		
		<div class="_area">
			<p>作り方</p>
			<div class="material">
				<span>1</span>
				<button>削除ボタン</button>
				<input type="file" th:field="*{datail_images}" accept="image/jpeg,image/png">
				<input type="text" th:field="*{contexts}" placeholder="作り方"><br>
				<span>2</span>
				<button>削除ボタン</button>
				<input type="file" th:field="*{datail_images}" accept="image/jpeg,image/png">
				<input type="text" th:field="*{contexts}" placeholder="作り方">
			</div>
		</div>
		<p>虫が苦手な人への写真の非表示<br>
		<input type="checkbox" value="1" th:field="*{image_blurred}"></p>
		<input type="submit" value="登録">
		
		
	</form>
</div>
</body>
</html>