@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 400px;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  width: 100%;
  height: auto;
  position: relative;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
}

button,
a {
  cursor: pointer;
}

/* --- メインコンテンツ --- */
.main {
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  transition: padding-top 0.4s;
  padding-top: 530px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1024px) {
  .main {
    padding-top: 380px;
    padding-bottom: 180px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 300px;
    padding-bottom: 140px;
  }
}
.main.js-headerScrollOn {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1024px) {
  .main.js-headerScrollOn {
    padding-top: 200px;
    padding-bottom: 180px;
  }
}
@media screen and (max-width: 767px) {
  .main.js-headerScrollOn {
    padding-top: 250px;
    padding-bottom: 140px;
  }
}

/* --- ヘッダー --- */
.header {
  width: 100%;
  min-width: 400px;
  height: 500px;
  background: url("../img/header.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: height 0.5s;
  will-change: height;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 350px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 280px;
  }
}
.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  transition: background 0.5s;
  will-change: background;
}
.header.js-headerScrollOn {
  height: 60px;
}
@media screen and (max-width: 1024px) {
  .header.js-headerScrollOn {
    height: 70px;
  }
}
@media screen and (max-width: 767px) {
  .header.js-headerScrollOn {
    height: 120px;
  }
}
.header.js-headerScrollOn::before {
  background: rgba(0, 0, 0, 0.4);
}

/* --- サイトロゴ --- */
.logo {
  position: absolute;
  width: 140px;
  top: 30px;
  left: 30px;
  transition: width 0.4s, top 0.4s, left 0.4s;
  will-change: top, left;
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 120px;
    top: 18px;
    left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    width: 100px;
    top: 20px;
    left: 20px;
  }
}
.logo.js-headerScrollOn {
  top: 13px;
}
@media screen and (max-width: 1024px) {
  .logo.js-headerScrollOn {
    width: 120px;
    top: 18px;
    left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .logo.js-headerScrollOn {
    width: 100px;
    top: 20px;
    left: 20px;
  }
}

/* --- サイト説明 --- */
.siteExpl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s, scale 0.6s;
  will-change: opacity, scale;
}
.siteExpl.js-headerScrollOn {
  opacity: 0;
  scale: 0;
  translate: 0 -20px;
}
@media screen and (max-width: 767px) {
  .siteExpl.js-headerScrollOn {
    translate: 0 0;
  }
}

.siteExpl__text--row1, .siteExpl__text--row2 {
  color: #FDFDFD;
  font-size: 24px;
  font-family: "Nova Square", "Kiwi Maru";
}
@media screen and (max-width: 1024px) {
  .siteExpl__text--row1, .siteExpl__text--row2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .siteExpl__text--row1, .siteExpl__text--row2 {
    font-size: 13px;
  }
}

/* --- 虫フィルターボタン --- */
.insectFilterBtn {
  width: 150px;
  height: 50px;
  background: #FDFDFD;
  border-radius: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 30px;
  transition: top 0.4s, scale 0.3s;
  will-change: top, right, scale;
}
@media screen and (max-width: 1024px) {
  .insectFilterBtn {
    top: 10px;
    right: 10px;
    scale: 0.8;
  }
}
@media screen and (max-width: 767px) {
  .insectFilterBtn {
    top: 10px;
    right: 0px;
    scale: 0.7;
  }
}
.insectFilterBtn.js-headerScrollOn {
  top: 5px;
  right: 30px;
}
@media screen and (max-width: 1024px) {
  .insectFilterBtn.js-headerScrollOn {
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .insectFilterBtn.js-headerScrollOn {
    top: 10px;
    right: 0px;
  }
}

.insectFilterBtn__text {
  font-size: 12px;
  font-weight: 500;
  color: #147647;
}

.insectFilterBtn__input {
  display: none;
}
.insectFilterBtn__input:checked + .insectFilterBtn__label {
  background: #147647;
}
.insectFilterBtn__input:checked + .insectFilterBtn__label::before {
  translate: 28px 7px;
}

.insectFilterBtn__label {
  width: 55px;
  height: 35px;
  margin-left: 8px;
  background: #F4F4F4;
  border-radius: 100px;
  position: relative;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: background 0.2s linear;
  will-change: background;
}
.insectFilterBtn__label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #FDFDFD;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  translate: 6px 7px;
  will-change: translate;
}

/* --- ナビボタン --- */
.navBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: translate 0.4s;
}
@media screen and (max-width: 1024px) {
  .navBtns {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns {
    margin-top: 10px;
  }
}
.navBtns.js-headerScrollOn {
  margin-top: 0;
  translate: 0 -35px;
}
@media screen and (max-width: 1024px) {
  .navBtns.js-headerScrollOn {
    translate: 0 -23px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns.js-headerScrollOn {
    translate: 0 8px;
  }
}

.navBtns__btn {
  border: none;
  border-radius: 200px;
  background: #FDFDFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  transition: width 0.4s, height 0.4s;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn {
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.navBtns__btn ion-icon {
  font-size: 30px;
  margin-top: 20px;
  color: #147647;
  transition: translate 0.4s;
  will-change: translate;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn ion-icon {
    font-size: 25px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn ion-icon {
    font-size: 15px;
    margin-top: 8px;
  }
}
.navBtns__btn--login ion-icon {
  font-size: 38px;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn--login ion-icon {
    font-size: 30px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn--login ion-icon {
    font-size: 20px;
    margin-top: 8px;
  }
}
.navBtns__btn::before {
  content: "";
  width: 170px;
  height: 170px;
  border: 5px solid transparent;
  border-radius: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: border 0.3s, width 0.2s, height 0.4s;
  will-change: border;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn::before {
    width: 135px;
    height: 135px;
    border: 3px solid transparent;
    transition: width 0.4s;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn::before {
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
  }
}
.navBtns__btn:hover .navBtns__btn__text {
  color: #147647;
}
.navBtns__btn:hover::before {
  border: 5px solid #147647;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn:hover::before {
    border: 3px solid #147647;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn:hover::before {
    border: 2px solid #147647;
  }
}
.navBtns__btn.js-headerScrollOn {
  width: 140px;
  height: 46px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 100px;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn.js-headerScrollOn {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn.js-headerScrollOn {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.navBtns__btn.js-headerScrollOn ion-icon {
  display: none;
  color: #147647;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn.js-headerScrollOn ion-icon {
    display: block;
    font-size: 15px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .navBtns__btn.js-headerScrollOn--login ion-icon {
    font-size: 60px;
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn.js-headerScrollOn--login ion-icon {
    font-size: 40px;
    margin-top: 0;
  }
}
.navBtns__btn.js-headerScrollOn::before {
  content: "";
  width: 130px;
  height: 42px;
  border: 2px solid transparent;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn.js-headerScrollOn::before {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn.js-headerScrollOn::before {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
  }
}
.navBtns__btn.js-headerScrollOn:hover .navBtns__btn__text {
  color: #147647;
}
.navBtns__btn.js-headerScrollOn:hover::before {
  border: 3px solid #147647;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn.js-headerScrollOn:hover::before {
    border: 2px solid #147647;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn.js-headerScrollOn:hover::before {
    border: 2px solid #147647;
  }
}

.navBtns__btn__text {
  display: block;
  font-family: "Kiwi Maru", sans-serif;
  color: #636363;
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: 4px;
  scale: 1;
  transition: scale 0.4s, font-size 0.3s;
  will-change: color, scale;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn__text {
    font-size: 15px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 767px) {
  .navBtns__btn__text {
    font-size: 10px;
    letter-spacing: 0;
  }
}
.navBtns__btn__text.js-headerScrollOn {
  font-size: 16px;
  letter-spacing: 0px;
}
@media screen and (max-width: 1024px) {
  .navBtns__btn__text.js-headerScrollOn {
    scale: 0;
    display: none;
  }
}/*# sourceMappingURL=header.css.map */