div.class {
    text-align: center;
    margin: auto;
}
/*ログインの余白*/
.title {
    margin: 100px;
}
/*入力部分の余白*/
.input {
    margin: 15px;
}
/*パスワード入力部分*/

input[type="password"] {
  
    padding: 10px;

    font-size: 16px;

    border: none;

    border-radius: 100vh;

    background-color: #F4F4F4;

    width: 15%;

    padding: 15px;

}
/*メールアドレス入力部分*/
input[type="email"] {
    width: 200px;

    padding: 10px;

    font-size: 16px;

    border: none;

    border-radius: 100vh;

    background-color: #F4F4F4;

    width: 15%;

    padding: 15px;

}

::placeholder {
    color: #ACACAC;

}

/*--focus--*/
input[type="password"]:focus {
    background-color: #F4F4F4;
    
}


/*ログインボタン*/
.btn--green {
    color: #ffffff;
    background: #147647;
    border: none;
    padding: 10px;
    font-size: 13px;
    width: 7%;
    margin: 20px;
}

.btn--green:hover,
a.btn--green:hover {
    color: #fff;
    background: #147647;
    padding: 10px;
    font-size: 13px;
    width: 7%;
    margin: 20px;
}

.btn--radius {
    border-radius: 100vh;
}

a.no-acaunt {
    text-decoration: none;
    color: #ACACAC;
}