@charset "UTF-8";

.btncancel {
    color: #acacac;
    background: #F4F4F4;
    border: none;
    padding: 10px;
    font-size: 13px;
    width: 13%;
    margin: 20px;
}

.btncancel:hover,
a.btncancel:hover {
    color: #fff;
    background: F4F4F4;
    padding: 10px;
    font-size: 13px;
    width: 13%;
    margin: 20px;
}




.btnradius {
    border-radius: 100vh;
}

a.no-acaunt {
    text-decoration: none;
    color: #ACACAC;
}

.acount .text {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    color: #147647;
    width: 15%;
    text-align: left;
}

.required::after {
    content: "必須";
    background-color: #FFE8E8;
    color: #E45F5F;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}