@charset "UTF-8";


div.acount {
    text-align: center;
    margin: auto;
}

/*タイトル余白*/
.title {
    margin: 50px;
    font-size: 18px;
}

/*テキストボックス余白*/
.input {
    margin: 15px;
}

/*パスワード*/

input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 100vh;
    background-color: #F4F4F4;
    width: 20%;
    padding: 15px;
}


/*--focus--*/
input[type="password"]:focus {
    background-color: #F4F4F4;

}



.btngreen {
    color: #ffffff;
    background: #147647;
    border: none;
    padding: 10px;
    font-size: 13px;
    width: 9%;
    margin: 20px;
    border-radius: 100vh;
}


.btncancel {
    color: #acacac;
    background: #F4F4F4;
    border: none;
    padding: 10px;
    font-size: 13px;
    width: 9%;
    margin: 20px;
    border-radius: 100vh;
}

.acount .text {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    color: #147647;
    width: 15%;
    text-align: left;
}

.required::after {
    content: "必須";
    background-color: #FFE8E8;
    color: #E45F5F;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}