<!-- ヘッダー -->
<header class="header js-headerScrollOn">
  <!-- ロゴ -->
  <a class="logo js-headerScrollOn" th:href="@{/index}">
    <img class="logo__img" th:src="@{/img/logo_white.png}" />
  </a>
  <!-- サイト説明 -->
  <section class="siteExpl js-headerScrollOn">
    <p class="siteExpl__text--row1">bugbugとは昆虫食を専門とした</p>
    <p class="siteExpl__text--row2">レシピ共有サイトです</p>
  </section>
  <!-- 虫フィルターボタン -->
  <section class="insectFilterBtn js-headerScrollOn">
    <span class="insectFilterBtn__text">虫フィルター</span>
    <input type="checkbox" class="insectFilterBtn__input" id="label-insectFilterBtn" />
    <label class="insectFilterBtn__label" for="label-insectFilterBtn"></label>
  </section>
  <!-- ナビボタン -->
  <nav class="navBtns js-headerScrollOn">
    <a class="navBtns__btn navBtns__btn--insectBook js-headerScrollOn" th:href="@{/insectBook}">
      <span class="navBtns__btn__text js-headerScrollOn">昆虫食図鑑</span>
      <ion-icon name="bug-outline"></ion-icon>
    </a>
    <a class="navBtns__btn navBtns__btn--searchRecipe js-headerScrollOn">
      <span class="navBtns__btn__text js-headerScrollOn">レシピを探す</span>
      <ion-icon name="search-outline"></ion-icon>
    </a>
    <th:block th:switch="${loginState}">
      <th:block th:case="true">
        <a class="navBtns__btn navBtns__btn--favRecipe js-headerScrollOn" href="mypage.html">
          <span class="navBtns__btn__text js-headerScrollOn">お気に入り</span>
          <ion-icon name="heart-outline"></ion-icon>
        </a>
        <a class="navBtns__btn navBtns__btn--mypage js-headerScrollOn" href="mypage.html">
          <span class="navBtns__btn__text js-headerScrollOn">マイページ</span>
          <span class="navBtns__btn--mypage__icon">
            <img src="./img/recipe1.jpg" alt="" />
          </span>
        </a>
      </th:block>
      <th:block th:case="false">
        <a class="navBtns__btn navBtns__btn--registerAcount js-headerScrollOn" th:href="@{/signup/form}">
          <span class="navBtns__btn__text js-headerScrollOn">会員登録</span>
          <ion-icon name="person-add-outline"></ion-icon>
        </a>
        <a class="navBtns__btn navBtns__btn--login js-headerScrollOn" th:href="@{/login/form}">
          <span class="navBtns__btn__text js-headerScrollOn">ログイン</span>
          <ion-icon name="log-in-outline"></ion-icon>
        </a>
      </th:block>
    </th:block>
  </nav>
  <div class="search__form__cover hidden"></div>
  <form class="search__form hidden" action="search.html">
    <button class="search__form__close" type="button">×</button>
    <section class="search__form__keyword">
      <span class="search__form__title">キーワードから探す</span>
      <div class="search__form__keyword__input">
        <input type="text" name="keyword" placeholder="キーワードを入力" />
        <button class="search__form__keyword__btn" type="submit">検索</button>
      </div>
    </section>
    <hr />
    <section class="search__form__tag">
      <span class="search__form__title">タグから探す</span>
      <!-- ここで表示するタグ一覧の取得は未実装() -->
      <div class="search__form__tag__tags">
        <a class="search__form__tag__tags__btn" name="tag__id" value="1">
          <span class="search__form__tag__tags__btn__name"><span>#</span>コロギ</span>
        </a>
      </div>
    </section>
  </form>
</header>
