<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>トップページ</h2>
<a href="/login/form">ログイン</a>
<a href="/sinup/form">新規登録</a>
<a th:href="@{/users/{id}/logout(id=${user_id})}">ログアウト</a>
<p th:text="${session_name}+さんようこそ"></p>
<th:block th:if="${msg} != null">
	[[${msg}]]
</th:block>
<main>
	<h1>おすすめのレシピ</h1>
	<!-- 画像参照テスト部分 -->
	<img src="http://118.27.33.34/bugbug/img.JPG"　width="400px" alt="テスト画像"/>
	<th:block th:if="${!#lists.isEmpty(recipes)}" th:each="recipe : ${recipes}">
		<div>
			<!--	レシピ画像	-->
			<a th:href="${recipe.recipeUrl}">
				<img src="#" alt="レシピ画像"/>
			</a>
			<!--	投稿ユーザー	-->
			<div>
				<img src="#" alt="ユーザーアイコン"/>
				<span th:text="${recipe.postUserName}"></span>
			</div>
			<!--	いいねボタン	-->
			<div>
				<span></span>
				<img src="#"/>
			</div>
			<!--	レシピ名		-->
			<div>
				<a th:href="${recipe.recipeUrl}">[[${recipe.recipeName}]]</a>
			</div>
			<!--	タグ		-->
			<div>
				<th:block th:each="tag : ${recipe.tags}">
					<span>[[${tag.name}]]</span>
				</th:block>
			</div>
		</div>
	</th:block>
</main>

</body>
</html>