<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
<body>

<h2>トップページ</h2>
<a href="/login/form">ログイン</a>
<a href="/sinup/form">新規登録</a>
<a th:href="@{/users/{id}/logout(id=${user_id})}">ログアウト</a>
<a th:href="@{/recipes/register/form}">レシピ登録</a>

<p th:text="${session_name}+さんようこそ"></p>

<a href="/mypage">マイページへ</a>
<th:block th:if="${msg} != null">
	[[${msg}]]
</th:block>
<main>
	<!-- おすすめレシピ -->
	<h1>おすすめのレシピ</h1>
	<section class="recomRecipe__list">
		<th:block th:if="${!#lists.isEmpty(recipes)}" th:each="recipe : ${recipes}">
			<section href="" class="recomRecipe__list__item">
				<div class="recomRecipe__list__item__img">
					<img src="#" alt="レシピ画像"/>
				</div>
				<div class="recomRecipe__list__item__userAction">
					<a class="recomRecipe__list__item__user" th:href="|/users/${recipe.postUserId}|">
						<span class="recomRecipe__list__item__user__icon">
						  <img src="#" alt="ユーザーアイコン" />
						</span>
						<span class="recomRecipe__list__item__user__name">[[${recipe.postUserName}]]</span>
					</a>
				</div>
				<div class="recomRecipe__list__item__heartBtn">
					<ion-icon name="heart-outline"></ion-icon>
					<span class="recomRecipe__list__item__heartNum">[[${recipe.favoriteNumber}]]</span>
				</div>
				<div class="recomRecipe__list__item__recipeName">[[${recipe.recipeName}]]</div>
				<div class="recomRecipe__list__item__tags">
					<th:block th:each="tag : ${recipe.tags}">
						<a class="recomRecipe__list__item__tag" th:href="|/serch?tag=${tag.tagId}|">
							<span class="recomRecipe__list__item__tag__name"><span>#</span>[[${tag.name}]]</span>
						</a>
					</th:block>
				</div>
			</section>
		</th:block>
	</section>

	
	<!-- 画像参照テスト部分 -->
	<img src="http://118.27.33.34/bugbug/img.JPG" width="400px" alt="テスト画像"/>
	<th:block th:if="${!#lists.isEmpty(recipes)}" th:each="recipe : ${recipes}">
		<div>
			<!--	レシピ画像	-->
			<a th:href="|/recipes/${recipe.recipeId}|">
				<img src="#" alt="レシピ画像"/>
			</a>
			<!--	レシピ名		-->
			<div>
				<a th:href="|/recipes/${recipe.recipeId}|">[[${recipe.recipeName}]]</a>
			</div>
		</div>
	</th:block>
</main>

</body>
</html>