<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/insect.css">
<title>Insert title here</title>
</head>
<body>
    <div class="title">
        <h2>-----------昆虫食図鑑-----------</h2>
    </div>    
<div class="contents">
    <div class="item">
<img src="C:\Users\issin\Desktop\bugbug\ari.jfif" ><p>蟻</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\semi.jfif" ><p>蝉</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\kumo.jfif" ><p>蜘蛛</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\mukade.png" ><p>百足</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\ari.jfif" ><p>蟻</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\semi.jfif" ><p>蝉</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\kumo.jfif" ><p>蜘蛛</p></div>
<div class="item">
<img src="C:\Users\issin\Desktop\bugbug\mukade.png" ><p>百足</p></div>
</div>
</html>