<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/insect.css">
<title>Insert title here</title>
</head>
<body>
    <section class="Insect">
    <div class="title">
        <span class="title_text">昆虫食図鑑</span>
    </div>    
    <section class="insect_list">
        <section href="" class="insect_list_item">
          <div class="insect_list_item_img">
            <img src="C:\Users\issin\Desktop\bugbug\ari2.jfif" >
          </div>
          <div class="insect_list_item_Name">蟻</div>
          </section>

            <section href="" class="insect_list_item">
              <div class="insect_list_item_img">
                <img src="C:\Users\issin\Desktop\bugbug\semi2.jfif" >
              </div>
              <div class="insect_list_item_Name">蝉</div>
              </section>

              <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <img src="C:\Users\issin\Desktop\bugbug\kumo2.jfif" >
                </div>
                <div class="insect_list_item_Name">蜘蛛</div>
                </section>

                <section href="" class="insect_list_item">
                    <div class="insect_list_item_img">
                        <img src="C:\Users\issin\Desktop\bugbug\mukade2.jfif" >
                    </div>
                    <div class="insect_list_item_Name">百足</div>
                    </section>

                    <section href="" class="insect_list_item">
                        <div class="insect_list_item_img">
                            <img src="C:\Users\issin\Desktop\bugbug\korogi.jpg" >
                        </div>
                        <div class="insect_list_item_Name">コオロギ</div>
                        </section>

                        <section href="" class="insect_list_item">
                            <div class="insect_list_item_img">
                                <img src="C:\Users\issin\Desktop\bugbug\kabutomusi.jpg" >
                            </div>
                            <div class="insect_list_item_Name">甲虫</div>
                            </section>

                            <section href="" class="insect_list_item">
                                <div class="insect_list_item_img">
                                    <img src="C:\Users\issin\Desktop\bugbug\warm2.jfif" >
                                </div>
                                <div class="insect_list_item_Name">ワーム</div>
                                </section>

                                <section href="" class="insect_list_item">
                                    <div class="insect_list_item_img">
                                        <img src="C:\Users\issin\Desktop\bugbug\batta.jfif" >
                                    </div>
                                    <div class="insect_list_item_Name">バッタ</div>
                                    </section>
          </section>
         


        <div class="detail_form_cover hidden"></div>
  <form class="detail_form hidden" action="aridetail.html">
    <button class="detail_form_close" type="button">×</button>
    </form>
        


