<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/insect.css">
    <title>Insert title here</title>
</head>

<body>
    <section class="Insect">
        <div class="title">
            <span class="title_text">昆虫食図鑑</span>
        </div>
        <section class="insect_list">
            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_ant">
                    <img src="C:\Users\issin\Desktop\bugbug\ari2.jfif">
                </div>
            </div>
                <div class="insect_list_item_Name">蟻</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_semi">
                    <img src="C:\Users\issin\Desktop\bugbug\semi2.jfif">
                </div>
            </div>
                <div class="insect_list_item_Name">蝉</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_kumo">
                    <img src="C:\Users\issin\Desktop\bugbug\kumo2.jfif">
                </div>
            </div>
                <div class="insect_list_item_Name">蜘蛛</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_mukade">
                    <img src="C:\Users\issin\Desktop\bugbug\mukade2.jfif">
                </div>
            </div>
                <div class="insect_list_item_Name">百足</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_koorogi">
                    <img src="C:\Users\issin\Desktop\bugbug\korogi.jpg">
                </div>
            </div>
                <div class="insect_list_item_Name">コオロギ</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_koutyuu">
                    <img src="C:\Users\issin\Desktop\bugbug\kabutomusi.jpg">
                </div>
            </div>
                <div class="insect_list_item_Name">甲虫</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_warm">
                    <img src="C:\Users\issin\Desktop\bugbug\warm2.jfif">
                </div>
            </div>
                <div class="insect_list_item_Name">ワーム</div>
            </section>

            <section href="" class="insect_list_item">
                <div class="insect_list_item_img">
                    <div class="insect_batta">
                    <img src="C:\Users\issin\Desktop\bugbug\batta.jfif">
                </div>
            </div>
                <div class="insect_list_item_Name">バッタ</div>
            </section>
        </section>

        
<!--蟻-->
        <div class="ant_detail_form_cover hidden"></div>
        <div class="ant_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\ari2.jfif">    
                    <p class="name">蟻</p>
                    <p class="detail">蟻酸を含んでいるためすっぱい。亜鉛を多く含んでいる</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="ant_detail_form_close" type="button">×</button>
        </div>

 <!--蝉-->
        <div class="semi_detail_form_cover hidden"></div>
        <div class="semi_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\semi2.jfif">    
                    <p class="name">蝉</p>
                    <p class="detail">中国や東南アジアの人気食材で、高たんぱく低脂肪なことから健康に良い食材。</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="semi_detail_form_close" type="button">×</button>
        </div>

        <!--蜘蛛-->
        <div class="kumo_detail_form_cover hidden"></div>
        <div class="kumo_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\kumo2.jfif">    
                    <p class="name">蜘蛛</p>
                    <p class="detail">たんぱく質やビタミン類、亜鉛を豊富に含んでいる</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="kumo_detail_form_close" type="button">×</button>
        </div>

        <!--百足-->
        <div class="mukade_detail_form_cover hidden"></div>
        <div class="mukade_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\mukade2.jfif">    
                    <p class="name">百足</p>
                    <p class="detail"></p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="mukade_detail_form_close" type="button">×</button>
        </div>

        <!--コオロギ-->
        <div class="koorogi_detail_form_cover hidden"></div>
        <div class="koorogi_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\korogi.jpg">    
                    <p class="name">コオロギ</p>
                    <p class="detail">豊富なたんぱく質に加え亜鉛、鉄分、カルシウム、マグネシウム、ビタミン、オメガ3といった体に必要な栄養</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="koorogi_detail_form_close" type="button">×</button>
        </div>

        <!--甲虫-->
        <div class="koutyuu_detail_form_cover hidden"></div>
        <div class="koutyuu_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\kabutomusi.jpg">    
                    <p class="name">甲虫</p>
                    <p class="detail">ビタミンが多く主にアミノ酸が多い</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="koutyuu_detail_form_close" type="button">×</button>
        </div>

        <!--ワーム-->
        <div class="warm_detail_form_cover hidden"></div>
        <div class="warm_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\warm2.jfif">    
                    <p class="name">ワーム</p>
                    <p class="detail">銅、カカリウム、セレンなど各種ミネラルや、不飽和脂肪酸を豊富に含む栄養価</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="warm_detail_form_close" type="button">×</button>
        </div>

        <!--バッタ-->
        <div class="batta_detail_form_cover hidden"></div>
        <div class="batta_detail_form hidden">
            <div class="flex">
                <div class="img">
                    <img src="C:\Users\issin\Desktop\bugbug\batta.jfif">    
                    <p class="name">バッタ</p>
                    <p class="detail">昆虫の中でもたんぱく質が豊富、特にイナゴは低カロリーである。</p>
                </div>
                <div class="rank">
                    <nav>
                        <p>価格</p>
                        <p class="star">★★★★★</p>
                        <p>美味しさ</p>
                        <p class="star">★★★★★</p>
                        <p>食べやすさ</p>
                        <p class="star">★★★★★</p>
                        <p>入手難易度</p>
                        <p class="star">★★★★★</p>
                    </nav>
                </div>
            </div>
            <div> <button type="submit" class="btn">この昆虫を使ったをレシピを探す</button></div>
            <button class="batta_detail_form_close" type="button">×</button>
        </div>
    </section>
    <script src="../static/js/main.js"></script>
</body>
</html>