<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/detail.css">
<title>Insert title here</title>
</head>
<body>
    <div class="main">
    <div class="flex">
        <div class="img">
            画像 
        </div>
        <p class="name">コオロギ</p>
        <p class="bug_detail">豊富なたんぱく質に加え亜鉛、鉄分、カルシウム、マグネシウム、ビタミン、オメガ3といった体に必要な栄養</p>
        <div class="rank">
            <nav>
                <p>価格</p>
                <p class="star">★★★★★</p>
                <p>美味しさ</p>
                <p class="star">★★★★★</p>
                <p>食べやすさ</p>
                <p class="star">★★★★★</p>
                <p>入手難易度</p>
                <p class="star">★★★★★</p>
            </nav>
        </div>
    </div>
    <div> <button type="submit" class="btn">レシピを探す</button></div>
</body>
</html>