<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/detail.css">
<title>Insert title here</title>
</head>
<body>
    <div class="main">
    <div class="flex">
        <div class="img">
            画像 
        </div>
        <p class="name">甲虫</p>
        <p class="bug_detail">ビタミンが多く主にアミノ酸が多い</p>
        <div class="rank">
            <nav>
                <p>価格</p>
                <p class="star">★★★★★</p>
                <p>美味しさ</p>
                <p class="star">★★★★★</p>
                <p>食べやすさ</p>
                <p class="star">★★★★★</p>
                <p>入手難易度</p>
                <p class="star">★★★★★</p>
            </nav>
        </div>
    </div>     
    <div> <button type="submit" class="btn">レシピを探す</button></div>
</body>
</html>