<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
	<div class="login">
		<h3 class="title">ログイン</h3>
		<form th:action="@{/index}" method="post" th:object="${loginForm}">

			<p>メールアドレス<br>
				<input type="text" name="mail" th:field="*{mail}" class="input" placeholder="メールアドレス" autocomplete="on">
			</p>
			<p>パスワード (半角数字6文字以上)<br>
				<input type="text" name="pass" th:field="*{pass}" class="input" placeholder="パスワード">
			</p>
			<th:block th:if="${msg} != null">
				[[${msg}]]<br>
			</th:block>

			<input type="submit" class="btngreen btnradius" name="btngreen" value="ログイン ▶">

			<a href="registerAcount.html" class="no-acaunt">
				<p>アカウントをお持ちでない方はこちら</p>
			</a>

		</form>
</body>

</html>