<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Login</title>
<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="demo">
		<h3 class="title">ログイン</h3>
		<form th:action="@{/login}" method="post" th:object="${userForm}">

			<!--メールアドレス-->
			<input type="email" name="email" class="input" placeholder="メールアドレス"
				autocomplete="on"> <br>

			<!--パスワード-->
			<input type="password" name="password" class="input"
				placeholder="パスワード"> <br> <input type="submit"
				class="btn--green btn--radius" name="btn--green" value="ログイン ▶">

			<a href="registerAcount.html" class="no-acaunt">
				<p>アカウントをお持ちでない方はこちら</p>
			</a>

		</form>
	</div>


</body>
</html>