<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    <p th:if="${error}" th:text="${error}">エラーメッセージ</p>
    <form th:action="|/users/${userId}/user-icon/update|" method="post" enctype="multipart/form-data">
        アップロードするファイルを選択してください<br>
        <input type="file" name="file" accept="image/jpeg">
        <input type="submit">
    </form>
    <img th:src="|/images/${userIcon}|" alt="ユーザーアイコン" width="400px"/>
    </body>
</html>