<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    <p th:if="${error}" th:text="${error}">エラーメッセージ</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        アップロードするファイルを選択してください<br>
        <input type="file" name="file" accept="image/jpeg">
        <input type="submit">
    </form>
    <p>
        <img src="http://118.27.33.34/bugbug/img/user-icon/user-icon0000000001.JPG">
    </p>

    </body>
</html>