<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>passwordUpdate</title>
    <link rel="stylesheet" href="css/passwordUpdate.css">
</head>

<body>
    <div class="acount">
        <h1 class="title">パスワードの変更</h1>
        <form>
            <!--パスワード確認-->
            <span class="text required">パスワード</span><br>
            <input type="password" name="password" class="input">
            <br>
            <span class="text required">パスワード（確認用）</span><br>
            <input type="password" name="password" class="input">
            <br>
            <input type="submit" class="btncancel" name="btncancel" value="キャンセル">
            <input type="submit" class="btngreen" name="btngreen" value="認証">

            </a>
            <h:outputText styleClass="required" />

        </form>
    </div>


</body>

</html>