<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>passwordCheck</title>
    <link rel="stylesheet" th:href="css/passwordCheck.css">
</head>

<body>
    <div class="acount">
        <h3 class="title">パスワードの確認</h3>
        <form>
            <!--パスワード確認-->
            <p class="text required">現在のパスワード</p><br>
            <input type="password" name="password" class="input" >
            <br>

            <input type="submit" class="btncancel btnradius" name="btncancel" value="キャンセル">
            <input type="submit" class="btngreen btnradius" name="btngreen" value="認証">




        </form>
    </div>


</body>

</html>
