<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>「${recipe.recipeName}」 : bugbug</title>
	<link rel="icon" th:href="@{/img/logoicon.png}" />
	<link rel="preload" th:href="@{/img/header.jpeg}" as="image" />
	<link rel="preload" th:href="@{/img/footer.jpg}" as="image" />
	<!-- 共通CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- 各ページCSS -->
<body>
	<div>
		<a th:href="|/users/${recipe.postUserId}|">
			<img th:src="|/images/user-icons/${recipe.postUserImage}|" alt="ユーザーアイコン" width="50px"/>
			<span>[[${recipe.postUserName}]]</span>
		</a>
		<span>[[${recipe.regDateOn}]]</span>
		<div class="heartBtn">
			<ion-icon name="heart-outline"></ion-icon>
			<span class="heartNum">[[${recipe.favoriteNumber}]]</span>
		</div>
		<span><img th:src="|/images/recipe-images/${recipe.recipeImage}|" alt="レシピ画像" width="300px"/></span>
		<div th:if="${!#lists.isEmpty(recipe.tags)}" th:each="tag : ${recipe.tags}">
			<a th:href="|/serch/tag?tag=${tag.tagId}|">#[[${tag.name}]]</a>
		</div>
		<div th:if="${!#lists.isEmpty(recipe.materials)}" th:each="material : ${recipe.materials}">
			<span>[[${material.name}]]</span>
			<span>[[${material.amount}]]</span>
		</div>
		<div>
			<span>説明</span>
			<span>[[${recipe.explanation}]]</span>
		</div>
		<div>
			<span>コツやポイント</span>
			<span>[[${recipe.point}]]</span>
		</div>
		<span>作り方</span>
		<th:block th:if="${!#lists.isEmpty(recipe.procedures)}" th:each="procedure,status : ${recipe.procedures}">
			<div>
				<span>[[${status.index}+1]]</span>
				<img th:src="|/images/recipe-procedure-images/${procedure.image}|" alt="手順画像" width="300px" />
				<span>[[${procedure.content}]]</span>
			</div>
		</th:block>
	</div>
</body>
</html>