<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>[[${recipe.name}]] : bugbug</title>
</head>
<body>
	<div>
		<a th:href="|/users/${user.userId}|">[[${user.name}]]</a>
		<span>[[${recipe.name}]]</span>
		<span>[[${recipe.regDateOn}]]</span>
		<div class="heartBtn">
			<ion-icon name="heart-outline"></ion-icon>
			<span class="heartNum">[[${favorite}]]</span>
		</div>
		<img th:src="|/images/recipe-images/${recipe.image}|" alt="レシピ画像" />
		<div th:if="${!#lists.isEmpty(tags)}" th:each="tag : ${tags}">
			<a th:href="|/serch/tag?tag=${tag.tagId}|">[[${tag.name}]]</a>
		</div>
		<div>
			<span>材料</span>
			<th:block th:if="${!#lists.isEmpty(materials)}" th:each="material : ${materials}">
				<span>[[${material.name}]]</span>
				<span>[[${material.amount}]]</span>
			</th:block>
		</div>

		<div>
			<span>説明</span>
			<span>[[${recipe.explanation}]]</span>
		</div>

		<div>
			<span>コツやポイント</span>
			<span>[[${recipe.point}]]</span>
		</div>

		<span>作り方</span>
		<th:block th:if="${!#lists.isEmpty(procuderes)}" th:each="procedure,status : ${procuderes}">
			<div>
				<span>[[${status.index}+1]]</span>
				<img th:src="|/images/recipe-procedure-images/${procedure.image}|" alt="手順画像" />
				<span>[[${procedure.content}]]</span>
			</div>
		</th:block>
	</div>
</body>
</html>