<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/detail.css">
<title>Insert title here</title>
</head>
<body>
    <div class="main">
    <div class="flex">
        <div class="img">
            <img src="C:\Users\issin\Desktop\bugbug\semi.jfif">
                <p class="name">蝉</p>
                <p class="bug_detail">中国や東南アジアの人気食材で、高たんぱく低脂肪なことから健康に良い食材。</p>      
        </div>
        <div class="rank">
            <nav>
                <p>価格</p>
                <p class="star">★★★★★</p>
                <p>美味しさ</p>
                <p class="star">★★★★★</p>
                <p>食べやすさ</p>
                <p class="star">★★★★★</p>
                <p>入手難易度</p>
                <p class="star">★★★★★</p>
            </nav>
        </div>
    </div>
    <div> <button type="submit" class="btn">レシピを探す</button></div>
</body>
</html>