<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bugbug</title>
    <link rel="icon" href="./img/logoicon.png" />
    <link rel="preload" href="./img/header.jpeg" as="image" CSS />
    <link rel="preload" href="./img/footer.jpg" as="image" />
    <!-- 共通CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <!-- 各ページCSS -->
    <link rel="stylesheet" href="./css/signup.css" />
  </head>
  <body>
    <div class="loading"></div>
    <!-- ヘッダー -->
    <header class="header">
      <!-- ロゴ -->
      <a class="logo" href="index.html">
        <img class="logo__img" src="./img/logo_white.png" alt="" srcset="" />
      </a>
      <!-- サイト説明 -->
      <section class="siteExpl">
        <p class="siteExpl__text--row1">bugbugとは昆虫食を専門とした</p>
        <p class="siteExpl__text--row2">レシピ共有サイトです</p>
      </section>
      <!-- 虫フィルターボタン -->
      <section class="insectFilterBtn">
        <span class="insectFilterBtn__text">虫フィルター</span>
        <input type="checkbox" class="insectFilterBtn__input" id="label-insectFilterBtn" />
        <label class="insectFilterBtn__label" for="label-insectFilterBtn"></label>
      </section>
      <!-- ナビボタン -->
      <nav class="navBtns">
        <button class="navBtns__btn navBtns__btn--insectBook" type="button">
          <span class="navBtns__btn__text">昆虫食図鑑</span>
          <ion-icon name="bug-outline"></ion-icon>
        </button>
        <button class="navBtns__btn navBtns__btn--searchRecipe" type="button">
          <span class="navBtns__btn__text">レシピを探す</span>
          <ion-icon name="search-outline"></ion-icon>
        </button>
        <button class="navBtns__btn navBtns__btn--registerAcount" type="button">
          <span class="navBtns__btn__text">会員登録</span>
          <ion-icon name="person-add-outline"></ion-icon>
        </button>
        <button class="navBtns__btn navBtns__btn--login" type="button">
          <span class="navBtns__btn__text">ログイン</span>
          <ion-icon name="log-in-outline"></ion-icon>
        </button>
      </nav>
      <div class="search__form__cover hidden"></div>
      <form class="search__form hidden" action="search.html">
        <button class="search__form__close" type="button">×</button>
        <section class="search__form__keyword">
          <span class="search__form__title">キーワードから探す</span>
          <div class="search__form__keyword__input">
            <input type="text" name="keyword" placeholder="キーワードを入力" />
            <button class="search__form__keyword__btn" type="submit">検索</button>
          </div>
        </section>
        <hr />
        <section class="search__form__tag">
          <span class="search__form__title">タグから探す</span>
          <div class="search__form__tag__tags">
            <button class="search__form__tag__tags__btn" type="submit" name="tag__id" value="1">
              <span class="search__form__tag__tags__btn__name"><span>#</span>コロギ</span>
            </button>
            <button class="search__form__tag__tags__btn" type="submit" name="tag__id" value="1">
              <span class="search__form__tag__tags__btn__name"><span>#</span>コロギgetoいｗｔいｗｔ</span>
            </button>
            <button class="search__form__tag__tags__btn" type="submit" name="tag__id" value="1">
              <span class="search__form__tag__tags__btn__name"><span>#</span>コロギsorlighsogri</span>
            </button>
            <button class="search__form__tag__tags__btn" type="submit" name="tag__id" value="1">
              <span class="search__form__tag__tags__btn__name"><span>#</span>コロギfffffffff</span>
            </button>
            <button class="search__form__tag__tags__btn" type="submit" name="tag__id" value="1">
              <span class="search__form__tag__tags__btn__name"><span>#</span>コロギfffffffff</span>
            </button>
          </div>
        </section>
      </form>
    </header>
    <!-- メインコンテンツ -->
    <main class="main">
      <div class="signup">
        <h3 class="signup__title">新規アカウント作成</h3>
        <!-- アカウント作成フォーム -->
        <form class="signup__form" th:action="@{/signup}" method="post" th:object="${userForm}">
          <!--メールアドレス-->
          <div class="signup__form__item">
            <p class="signup__form__item__text required">メールアドレス</p>
            <input type="email" th:field="*{mail}" class="signup__form__input" placeholder="メールアドレス" autocomplete="on" />
          </div>
          <!--ユーザーネーム-->
          <div class="signup__form__item">
            <p class="signup__form__item__text required">ユーザーネーム</p>
            <input type="text" name="username" class="signup__form__input" placeholder="ユーザーネーム" />
          </div>
          <!--パスワード-->
          <div class="signup__form__item">
            <p class="signup__form__item__text required">パスワード</p>
            <input type="password" th:field="*{password}" class="signup__form__input" placeholder="パスワード" />
          </div>
          <!--パスワード確認用-->
          <div class="signup__form__item">
            <p class="signup__form__item__text required">パスワード（確認用）</p>
            <input type="password" th:field="*{confirmPassword}" class="signup__form__input" placeholder="パスワード(確認用)" />
          </div>
          <!--バリデーションエラー-->
          <ul class="signup__form__validation" th:if="${#fields.hasErrors('*')}">
            <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
          </ul>
          <button class="signup__form__btn" type="submit"><span>アカウント作成</span></button>
          <h:outputText styleClass="required" />
        </form>
      </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/login.js"></script>
  </body>
</html>
