<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>registerAcount</title>
    <link rel="stylesheet" href="../static/css/sinup.css">
</head>

<body>
    <div class="acount">
        <h3 class="title">新規アカウント登録</h3>
        <form>

            <!--メールアドレス-->
            <p class="text required">メールアドレス</p><br>
            <input type="email" name="email" class="input" placeholder="メールアドレス" autocomplete="on">
            <br>

            <!--パスワード-->
            <p class="text required">パスワード</p><br>
            <input type="password" name="password" class="input" placeholder="パスワード">
            <br>

            <!--パスワード確認-->
            <p class="text required">パスワード（確認用）</p><br>
            <input type="password" name="password" class="input" placeholder="パスワード（確認用）">
            <br>

            <!--ユーザーネーム-->
            <p class="text required">ユーザーネーム</p><br>
            <input type="password" name="username" class="input" placeholder="ユーザーネーム">
            <br>

            <input type="submit" class="btngreen btnradius" name="btngreen" value="アカウント作成">


            </a>
            <h:outputText styleClass="required" />

        </form>
    </div>


</body>

</html>