<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/detail.css">
<title>Insert title here</title>
</head>
<body>
    <div class="main">
    <div class="flex">
        <div class="img">
            <img src="C:\Users\issin\Desktop\bugbug\warm2.jfif"> 
                <p class="name">ワーム</p>
                <p class="bug_detail">銅、カカリウム、セレンなど各種ミネラルや、不飽和脂肪酸を豊富に含む栄養価</p>      
        </div>
        <div class="rank">
            <nav>
                <p>価格</p>
                <p class="star">★★★★★</p>
                <p>美味しさ</p>
                <p class="star">★★★★★</p>
                <p>食べやすさ</p>
                <p class="star">★★★★★</p>
                <p>入手難易度</p>
                <p class="star">★★★★★</p>
            </nav>
        </div>
    </div>
    <div> <button type="submit" class="btn">この昆虫を使ったレシピを探す</button></div>
</body>
</html>